:root {
  --white: #fff;
  --primary: #3eaa70;
  --primary-700: #227549;
  --dark: #222222;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Satoshi", sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-direction: column;
}

.card-flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.mt-114 {
  margin-top: 8rem;
}


.plot-60 {
  flex-basis: 60%;
}

.plot-70 {
  flex-basis: 70%;
}


.container {
  min-height: 100vh;
  width: 100%;

  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 62.08%
    ),
    url("../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  padding-left: clamp(1.6rem, -0.8rem + 10.6667vw, 12rem);
  padding-right: clamp(1.6rem, -0.8rem + 10.6667vw, 12rem);
  color: var(--white);
  font-size: 2.4rem;
  font-weight: medium;
  transition: all 0.4s ease;
}

.sticky {
  position: fixed;
  top: 0;
  transition: all 0.4s ease;
  height: 7.6rem !important;
  z-index: 999;
  background: rgb(37, 37, 37);
  box-shadow: 10px 10px 32px 0px rgba(18, 18, 18, 0.28);
    -webkit-box-shadow: 10px 10px 32px 0px rgba(18, 18, 18, 0.28);
    -moz-box-shadow: 10px 10px 32px 0px rgba(18, 18, 18, 0.28);
}

.nav__icon-container {
  width: 14.1rem;
  height: 4rem;
}

.nav__icon {
  width: 100%;
  height: 100%;
}

.nav__list {
  display: flex;
  width: 25rem;
  z-index: 50;
  position: fixed;
  flex-direction: column;
  top: 0;
  bottom: 0;
  color: var(--dark);
  font-weight: 700;
  padding: 4rem;
  align-items: center;
  gap: 4rem;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.menu {
  display: block;
  background-color: transparent;
  margin-left: auto;
  border: 0;
  color: var(--white);
  cursor: pointer;
  outline: none;
}

.menu-dark {
  color: var(--dark);
}

.menu > * {
  width: 3.6rem;
  height: 3.6rem;
  fill: currentColor;
}

.closeMenu {
  margin-left: auto;
}

.hero-section {
  padding-left: clamp(1.6rem, -0.8rem + 10.6667vw, 12rem);
  padding-right: clamp(1.6rem, -0.8rem + 10.6667vw, 12rem);
  color: var(--white);
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section__title {
  font-size: clamp(3.4rem, 1.9692rem + 6.359vw, 9.6rem);
  font-weight: bold;
}

.hero-section__studio {
  font-size: clamp(1.4rem, 0.9385rem + 2.0513vw, 3.4rem);
  font-weight: medium;
}
.hero-section__plot {
  font-size: clamp(1.4rem, 0.9385rem + 2.0513vw, 3.4rem);
  font-weight: medium;
  width: 100%;
  margin-top: 1rem;
}

.btn-container {
  display: flex;
  gap: clamp(1.5rem, 0.9385rem + 2.0513vw, 3rem);
  margin-top: 5.4rem;
}

.main {
  padding: 2.4rem;
  max-width: 192rem;
  margin: 0 auto;
}

.main-title {
  font-weight: 900;
  font-size: clamp(3.4rem, 1.9692rem + 6.359vw, 6.4rem);
}


.plot-content {
  padding: 0;
  width: 100%;
}

.plot-content-information {
  margin-top: 2.6rem;
  font-size: 1.6rem;
}

.characters-container {
  padding: 0;
  margin-top: 2.5rem;
}

.characters-title {
  font-size: clamp(2rem, 1.7231rem + 1.2308vw, 3.2rem);
  font-weight: 900;
  margin-bottom: 3.8rem;
}

@media (min-width: 462px) {
    .card-flex {
      justify-content: space-between;
    }
}

@media (min-width: 640px) {
  .main {
    padding: 2.4rem 3rem;
  }

  .plot-content {
    padding: 0 6.2rem;
  }

  .characters-container {
    padding: 0 6.2rem;
  }

  .card-flex {
    justify-content:flex-start;
    gap: 4rem;
   }
}


@media (min-width: 800px) {
  .nav {
    height: 12rem;
  }
  .hero-section__plot {
    width: 70.8rem;
  }
  .nav__list {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    background: transparent;
    position: relative;
    align-items: center;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
    padding: 0;
    color: var(--white);
    font-weight: 500;
    top: 0;
  }

  .menu {
    display: none;
  }
  .menu > *{
    display: none;
  }

  .nav__icon-container {
    width: 21.1rem;
    height: 4rem;
  }

  .hero-section__plot {
    margin-top: 0;
  }

  .main {
    padding: 3.4rem 4rem;
  }

  .mt-114 {
    margin-top: 11.4rem;
  }

  .mb-8 {
    margin-bottom: 8rem;
  }

  .plot-content-information {
    font-size: 1.8rem;
  }

  .card-flex {
    gap: 4rem;
  }

  .characters-container {
    margin-top: 5.6rem;
  }

  .closeMenu {
    display: none!important;
  }
 
}

@media (max-width: 800px) {
  .nav__list {
    right: -1000px;
  }
  .show {
      right: 0;
      transition: all 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
}


@media (min-width: 1024px) {
    .flex-center {
      flex-direction: row;
    }
    
    .reverse {
      flex-direction: row-reverse;
    }

    .mb-4 {
      margin-bottom: 8.4rem;
    }

    .flex-center {
      gap: 6.6rem;
    }

    .card-flex {
      gap: 5rem 8.6rem;
    }
}

@media (min-width: 1280px) {
  .main {
    padding: 7.4rem 8rem;
  }
}

@media (min-width: 1536px) {
  .main {
    padding: 11.4rem 12rem;
  }
}